.contactsList {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  position: sticky;
  top: 60px; /* equal to the height of the navbar */
  height: calc(100vh - 60px); /* subtract the height of the navbar */
  overflow-y: auto;
}
